body {
  background-color: #1A2012;
}
body-error {
  background-color: #361A19;
}
img {
  display: block;
  width: 400px;
  margin: 0 auto;
  filter: drop-shadow(0 0 10px #000);
}
.form-message-main-container {
  width: 600px;
  height: 400px;
  margin: 20px auto 0 auto;
  border: 1px solid #5D8D91;
  box-shadow: 0 0 10px 1px #21DDFA, inset 0 0 10px 1px #21DDFA;
  padding: 20px;
  text-align: center;
}
.screen {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #088ED7, #2C4736);
  box-shadow: -2px -2px 10px 2px  #088ED7, 2px 2px 10px 2px  #122917;
  color: #0EBAD0;
  border-radius: 10px;
}
.form {
  padding-top: 60px;
}
.userInput {
  border: 2px solid #5D8D91;
  background-color: #000;
  box-shadow: 0 0 10px 1px #21DDFA;
  text-shadow: 0 0 5px #96d5dd, 0 0 1px #e8f1f2;
}
label {
  font-size: 14px!important;
  color: #0EBAD0!important;
  text-shadow: 0 0 5px #96d5dd, 0 0 1px #e8f1f2;
  margin-right: 20px;
}
.submit-btn {
  width: 80px;
  height: 80px;
  display: block;
  margin: 30px auto 30px auto;
  background-image: radial-gradient(#21DDFA, #37729A);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #21DDFA;
  color: #dfeeff;
  text-shadow: 0 0 5px #FFF, 0 0 5px #FFF;
}
.submit-btn:active {
  background-image: radial-gradient(#37729A, #21DDFA);
}
.message-container-hide-scroll {
  position: relative;
  overflow: hidden;
  width: 530px;
  height: 120px;
}
.message-container {
  position: absolute;
  top: 0;
  left:17px;
  width: 530px;
  height: 120px;
  overflow-y: scroll;
}
.no-white-space-message {
  display: none;
  text-shadow: 0 0 5px #96d5dd, 0 0 5px #e8f1f2;
}
.message {
  padding: 0 20px;
  text-shadow: 0 0 5px #96d5dd, 0 0 5px #e8f1f2;
}
