body {
  background-color: #1A2012;
  transition: background-color 1s;
}
.body-error {
  background-color: #3E1C1A;
  transition: background-color 4s;
}
/*--- TITLE AND MAIN IMAGE STYLING ---*/
.title-container h1, .title-container p {
  display: inline-block;
}
.title-container h1 {
  margin-right: 5px;
}
.title-container p {
  vertical-align: middle;
}
img {
  display: block;
  width: 400px;
  margin: 0 auto;
  filter: drop-shadow(0 0 10px #000);
}
/*--- FORM STYLING ---*/
.form-message-main-container {
  width: 600px;
  height: 400px;
  margin: 20px auto 0 auto;
  border: 1px solid #5D8D91;
  box-shadow: 0 0 10px 1px #21DDFA, inset 0 0 10px 1px #21DDFA;
  padding: 20px;
  text-align: center;
  transition: box-shadow 1s;
}
.form-message-main-container-error {
  border: 2px solid #9D3029;
  box-shadow: 0 0 10px 5px #632220, inset 0 0 10px 5px #632220;
  transition: border 2s, box-shadow 2s;
}
.screen {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #088ED7, #2C4736);
  box-shadow: -2px -2px 10px 2px  #088ED7, 2px 2px 10px 2px  #122917;
  color: #0EBAD0;
  border-radius: 10px;
  transition: background-image 1s, box-shadow 1s, color 1s;
}
.screen-error {
  background-image: linear-gradient(to bottom right, #150A0A, #0B0505);
  box-shadow: -2px -2px 10px 2px  #632220, 2px 2px 10px 2px  #360908;
  color: #AB5752;
  transition: background-image 2s, box-shadow 2s, color 4s;
}
.form {
  padding-top: 50px;
}
.display-block {
  display: block;
}
.display-block:nth-child(1) {
  margin-bottom: 10px;
}
.user-input, .user-name-input {
  border: 2px solid #5D8D91;
  background-color: #000;
  box-shadow: 0 0 10px 1px #21DDFA;
  text-shadow: 0 0 5px #96D5DD, 0 0 1px #E8F1F2;
  padding-left: 10px;
  transition: background-color 1s, box-shadow 1s, text-shadow 1s;
}
.user-input:focus, .user-name-input:focus {
  outline: 0;
}
.user-input-error{
  border: 2px solid #9D3029;
  background-color: #0b0505;
  box-shadow: 0 0 20px 2px #632220;
  text-shadow: 0 0 5px #B27D7A, 0 0 5px #C7BFBF;
  transition: border 2s, background-color 2s, box-shadow 2s, text-shadow 4s;
}
.input-label, .input-name-label {
  font-size: 14px!important;
  color: #0EBAD0!important;
  text-shadow: 0 0 5px #96D5DD, 0 0 1px #E8F1F2;
  margin-right: 20px;
  transition: color 1s, text-shadow 1s;
}
.input-label-error {
  color: #AB5752!important;
  text-shadow: 0 0 5px #B27D7A, 0 0 5px #C7BFBF;
  transition: color 4s, text-shadow 4s;
}
.submit-btn {
  width: 80px;
  height: 80px;
  display: block;
  margin: 30px auto 30px auto;
  background-image: radial-gradient(#21DDFA, #37729A);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #21DDFA;
  color: #DFEEff;
  text-shadow: 0 0 5px #FFF, 0 0 5px #FFF;
  transition: background-image 1s, box-shadow 1s, color 1s, text-shadow 1s;
}
.submit-btn:active {
  background-image: radial-gradient(#37729A, #21DDFA);
}
.submit-btn:focus {
  outline:0;
}
.submit-btn-error {
  background-image: radial-gradient(#632220, #9a3d3a);
  box-shadow: 0 0 20px 6px #632220;
  color: #ffd7d6;
  text-shadow: 0 0 5px #FFF, 0 0 5px #FFF;
  transition: background-image 2s, box-shadow 2s, color 4s, text-shadow 4s;
}
.submit-btn-error:active {
  background-image: radial-gradient(#9A3D3A, #632220);
}
.message-container-hide-scroll {
  position: relative;
  overflow: hidden;
  width: 530px;
  height: 120px;
}
.message-container {
  position: absolute;
  top: 0;
  left:17px;
  width: 530px;
  height: 120px;
  overflow-y: scroll;
}
.no-white-space-message {
  display: none;
  text-shadow: 0 0 5px #96D5DD, 0 0 5px #E8F1F2;
}
.message {
  padding: 0 20px;
  text-shadow: 0 0 5px #B27D7A, 0 0 5px #C7BFBF;
  transition: text-shadow 4s;
}
/*--- FOOTER STYLING ---*/
.footer {
  margin-top: 50px;
  text-align: center;
}
